* @hurry060215-tech

/.github/ @hurry060215-tech
/backend/ @hurry060215-tech
/desktop/ @hurry060215-tech
/extension/ @hurry060215-tech
/scripts/ @hurry060215-tech
/site/ @hurry060215-tech
/web/ @hurry060215-tech
