LEARNNOTE_PORT=8765
LEARNNOTE_PUBLIC_ORIGIN=http://localhost:8765
LEARNNOTE_PUBLIC_USERNAME=ln
LEARNNOTE_PUBLIC_PASSWORD=replace-with-at-least-12-random-characters
LEARNNOTE_WHISPER_MODEL=small
LEARNNOTE_WHISPER_DEVICE=cpu
LEARNNOTE_WHISPER_COMPUTE_TYPE=int8
